*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 80px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav :nth-child(1){
    margin: 15px;
}

nav ul li{
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.main{
    height: 700px;
    width: 100%;
    background-image: url(Assets/bkg.gif);
    background-repeat: no-repeat;
}

.blackbox{
    height: 620px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.34);
}

form{
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 357px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.226);
    color: rgb(231, 229, 229);
}

.ip{
    background-color: rgba(0, 0, 0, 0.548);
}

#join-today{
    height: 40px;
    width: 100%;
    position: relative;
    left: 150px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
}